{% extends 'layout.njk'%}

{% block title %}
<title>Sobre-Rocketseat</title>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <img src="https://cdn-images-1.medium.com/max/1200/1*TkXVfLTwsHdwpUEjGzdi9w.jpeg" alt="Rocketseat" id="logo">
        <h1>RocketSeat</h1>
        <h2>O que é Rocketseat?</h2>
        <p>
            O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o 
            texto padrão usado por estas indústrias desde o ano de 1500.
        </p>
        <ul id="tecnologias">
            <li>JavaScript</li>
            <li>NodeJS</li>
            <li>ReactJS</li>
            <li>ES6</li>
        </ul>
    </div>
    <div class="links" id="link-footer">
        <a href="https://www.facebook.com/rocketseat">Facebook</a>
        <a href="https://www.instagram.com/rocketseat_oficial/">Instagram</a>
        <a href="https://github.com/rocketseat">Github</a>
    </div>
{% endblock %}